.main-header {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: flex-end;
  margin: auto;
  width: 100%;
}

.header-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 80px;
  justify-content: center;
  padding: 20px;
}

.scoreboard {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  margin: 0 100px;
  margin-top: 8px;
}

.image {
  border-radius: 20px;
  left: 600px;
  position: absolute;
  top: 10px;
  width: 60px;
}

.image-player {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  margin: 0 120px;
  margin-top: 8px;
}

.header-score {
  align-items: center;
  color: black;
  display: flex;
  font-size: 22px;
  font-weight: 400;
  height: 24px;
  width: 101px;
}

.player-name {
  color: black;
  font-size: 22px;
  font-weight: 400;
  margin-top: 8px;
  width: 200px;
}

.star {
  color: #f9ba18;
  font-size: 28px;
  height: 29;
  width: 30;
}
